<div class="full-width prices-table-container">
  <section class="row prices-table">
    <h2 class="subtitle text-center">Serviços</h2>
      <div>
        <ul class="medium-12 columns price-budget text-center">
          <li class="medium-4 columns price item-left">
            <div class="">
              <%= image_tag('limpeza.jpg', alt: 'Limpeza', class: 'service-image') %>
            </div>
            <div class="price-text">
              <h3>Limpeza e Conservação<br><br></h3>
              <ul class="disclaimer">
                <li>Limpeza</li>
                <li>Conservação</li>
                <li>Higienização</li>
              </ul>
            </div>
          </li>
          <li class="medium-4 columns price item-center">
            <div class="">
              <%= image_tag('portaria.jpg', alt: 'Portaria', class: 'service-image') %>
            </div>
            <div class="price-text">
              <h3>Portaria e Controle de Acesso</h3>
              <ul class="disclaimer">
                <li>Portaria</li>
                <li>Controle de acesso</li>
                <li>Monitoramento</li>
                <li>Proteção de patrimonio</li>
                <li>Eventos</li>
              </ul>
            </div>
          </li>
          <li class="medium-4 columns price item-right end">
            <div class="">
              <%= image_tag('zeladoria.jpg', alt: 'Limpeza', class: 'service-image') %>
            </div>
            <div class="price-text">
              <h3>Recrutamento e Mão de Obra Terceirizada</h3>
              <ul class="disclaimer">
                <li>Zeladoria</li>
                <li>Jardinagem</li>
                <li>Manutenção</li>
                <li>Terceirização em geral</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
  </section>
</div>
