<div class="info-container row">
  <div class="small-12 medium-10 medium-centered columns">
    <p>
      A Fortam Serviços e Terceirizações mantem um banco de candidatos para que possa ser oferecido a estes
      oportunidades de trabalho, os dados solicitados são genericos tendo como unico objetivo alimentar uma base de
      perfis e não terão outra destinação que não a avaliação e contato futuro.
    </p>
  </div>
  <hr>
</div>
