<section class="disclaimer-container">
  <div class="row">
    <div class="medium-8 columns text-center">
      <h2>Lorem ipsum dolor</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere eros in odio tristique
        eleifend. Mauris quis lorem at ligula condimentum egestas sed id tortor. Vestibulum ante ipsum
      </p>
      <p>
        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eu justo tellus. Donec eget
        risus nunc. Phasellus at porta neque. In quis commodo turpis. Suspendisse ut pulvinar risus, vel aliquam
        felis. Fusce tristique sodales risus non tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <p>
        In malesuada risus eget libero egestas venenatis. Cras vestibulum dolor id ante ultricies, vel pulvinar
        felis consequat. Integer viverra felis nisi, id venenatis arcu sagittis a.
        Pellentesque dapibus neque non nisl accumsan, sit amet sodales nulla hendrerit.
      </p>
    </div>
  </div>
</section>
