<div class="contact-form small-6 columns">
  <div class="text-right small-12 medium-2 columns">
  </div>
  <div class="text-right small-12 medium-8 columns">
    <input type="text" name="name" value="">
    <input type="text" name="name" value="">
    <input type="checkbox" name="name" value="">
  </div>
</div>
