<div class="contact-info small-12 medium-6 columns">
  <p>
    Seg a Sex das 8:00 as 17:00<br>
    <strong>Telefone: (11) 2379-7336</strong><br>
  </p>
  <p>
    WhatsApp<br>
    <strong>Telefone: (11) 95929-5496</strong><br>
  </p>
  <p>
    Comercial<br>
    <strong>Email: comercial@fortam.com.br</strong><br>
  </p>
  <p>
    Endereço<br>
    <strong>Avenida Presidente Kennedy Rua  nº 6681 - Sala 12, Cidade Ocian - Praia Grande, SP</strong><br>
  </p>
</div>
