<div class="contact-form small-12 medium-6 columns">
  <div class="text-right small-12 medium-2 columns">
  </div>
  <div class="small-12 medium-8 columns">
    <form class="" action="/" method="post">
      <label for="name">Nome:</label>
      <input type="text" placeholder="Seu nome" name="name" value="">
      <label for="email">E-Mail:</label>
      <input type="email" placeholder="Seu e-mail" name="email" value="">
      <label for="area">Mensagem:</label>
      <textarea name="area" placeholder="Sua mensagem" rows="8" cols="40"></textarea>
      <input type="submit" class="button" name="name" value="Enviar">
    </form>
  </div>
</div>
