<div class="map full-width">
  <div class="row">
    <iframe disabled="true" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.214811640451!2d-46.47485808518689!3d-24.02348898445544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce1ef8cc0b6229%3A0xcfa3cd0cbf09ecae!2sAv.+Pres.+Kennedy%2C+6681+-+12+-+Cidade+Ocian%2C+Praia+Grande+-+SP%2C+11704-120!5e0!3m2!1spt-BR!2sbr!4v1540751291414" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
