<section class="mission row">
  <div class="small-12 medium-6 columns text-center mission-image hide-for-small-only">
      <%= image_tag('globe.jpg', alt: 'Quem Somos') %>
  </div>
  <div class="small-12 medium-6 columns">
    <h2>Missão</h2>
    <p>
      Garantir excelência no atendimento,suprindo as necessidades de nossos clientes de forma compromissada e responsável
    </p>
  </div>
</section>
