<section class="who-are row">
  <div class="small-12 medium-6 columns">
    <h2>Quem Somos</h2>
    <p>
      Somos uma empresa qualificada no ramo de serviços de terceirização, composta por profissionais qualificados e
      especializados, desta forma oferecemos uma ampla gama de serviços para melhor atender nossos clientes, tais como:
      limpeza e conservação,portaria e controle de acesso, recrutamento e diversas mão de obra terceirizada,
      nosso compromisso alem da excelência de atendimento é ofertar benefícios para nossos clientes através
      de agilidade,  reduçao de custos, maior produtividade e evitar possíveis complicações futuras em processos de seleção,
      admissão, demissão etc
    </p>
  </div>
  <div class="small-12 medium-6 columns text-center who-are-image">
    <%= image_tag('quem-somos.jpg', alt: 'Quem Somos') %>
  </div>
</section>
