@import "settings";
@import "foundation_and_overrides";

.header {
  -webkit-transition: background-color 500ms ease-out 300ms;
  -moz-transition: background-color 500ms ease-out 300ms;
  -o-transition: background-color 500ms ease-out 300ms;
  transition: background-color 500ms ease-out 300ms;

  background-color: rgba(255, 255, 255, 0.7);
  height: 76px;
  position: fixed;

  &::after {
    content: '';
    -webkit-transition: border-color 500ms ease-out 300ms;
    -moz-transition: border-color 500ms ease-out 300ms;
    -o-transition: border-color 500ms ease-out 300ms;
    transition: border-color 500ms ease-out 300ms;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 60px;
    border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
    position: absolute;
    right: 10%;
    top: 76px;
    @extend .hide-for-small-only;
  }
}

.on-top {
  background-color: rgba(255, 255, 255, 1)  !important;
  &::after {
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent !important;
  }
}

.mobile-logo {
  margin-bottom: 8px;
}

.mobile-menu {
  font-size: 40px;
  padding: 1.1rem;
  color: $primary-color;
  float: right;
}

.logo-link {
  display: block;
  padding-top: 4px;
}

.show-menu {
  left: 0 !important;
}

.logo {
  margin-top: 5px;
}

.menu-container ul {
  text-transform: uppercase;

  li {
    cursor: pointer;
    margin-left: 0;
    display: block;

    -webkit-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;

    a {
      display: block;
      padding: 26px 10px;
      height: 76px;
      color: $primary-color;
    }

    &:hover {
      background-color: $primary-color;
    }

    &:hover a {
      color: $white;
    }
  }
}

.sidebar-menu {
  position: fixed;
  width: 80%;
  max-width: 320px;
  z-index: 1;
  background-color: $light-gray;
  left: -90%;

  -webkit-box-shadow: 3px 10px 23px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 23px -5px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 23px -5px rgba(0,0,0,0.75);

  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;

  ul {
    margin-left: 0;
  }

  .login-container {
    position: static;
    width: 100%;
    padding: 0;
  }

  .menu-container {
    padding: 0;
    background-color: $primary-color;

    a {
      color: $white;
    }
  }
}
