<header class="row full-width header">
  <%
    logo_img = image_tag('fortam-logo.png', alt: 'Logo Fortam')
    logo = link_to logo_img, '/', class: 'logo-link'

    @menu = [
              (link_to 'Início', '/',           class: 'menu-item'),
              (link_to 'Sobre Nós', '/sobre-nos',        class: 'menu-item'),
              (link_to 'Contato', '/contatos',  class: 'menu-item'),
              (link_to 'Trabalhe Conosco', '#', class: 'menu-item')
            ]
  %>
  <%=
    content_tag(:div, logo, class: 'small-12 text-center large-push large-2 medium-3 columns logo text-right')
  %>
  <%=
    menu 'inline-list', 'large-6 medium-8 columns menu-container hide-for-small-only'
  %>
</header>
<div class="sidebar-menu show-for-small-only">
  <%=
    menu 'text-center', 'large-6 medium-5 columns menu-container'
  %>
</div>
